@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
    color: black;
    font-weight: bold;
}

nav p {
    font-weight: bold;
    color: black;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header_img.jpg');
    opacity: 0.8;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

.pacotes {
    background: radial-gradient(circle at 56.95% 30.9%, #ffffde 0, #ffface 16.67%, #ffe5b8 33.33%, #ffcb9d 50%, #f0b084 66.67%, #e69c73 83.33%, #e08d6b 100%);
    padding: 15px;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: orange;
    border-radius: 24px 0px;
    margin: 25px;
    position: relative;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacote-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 3px 0; 
}

.pacotes .card-content li svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: orange;
    border-radius: 8px 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-top p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: red;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 25px 0;
}

.servicos .servicos-cards {
    display: flex;
    max-width: 950px;
    justify-content: space-between;
    margin: auto;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 99;

        background: green;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
}