@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
    color: black;
    font-weight: bold;
}

nav p {
    font-weight: bold;
    color: black;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header_img.jpg');
    opacity: 0.8;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
}

